@use "../../theme/_global.scss"as *;
@use "../../theme/theme.scss"as *;

.verticalBottomRightRound {
  &__block {
    &__image {
      // margin-left: 100px;
      height: 375px;
      position: relative;
      overflow: hidden;
      max-width: 626px;
      width: 100%;

      img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__imageRound {
    position: absolute;
    width: 336px;
    height: 426px;
    background-color: $westar;
    border-bottom-right-radius: calc(66.6666 * 336px / 100);

    img {
      height: 100%;
      width: auto;
    }
  }

  &__imageRoundHoz {
    position: absolute;
    height: 530px;
    width: 670px;
    border-top-right-radius: calc(66.6666 * 670px / 100);

    img {
      height: auto;
      width: vertical;
    }
  }

  @media (min-width: $desktop) {

    &__block {
      position: relative;

      &__image {
        margin-left: 0;
        height: 375px;
        position: relative;
        overflow: hidden;
        max-width: 626px;
        width: 100%;

        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__imageRound {
      width: 520px;
      height: 660px;
      border-bottom-right-radius: calc(66.6666 * 520px / 100);

      img {
        height: 100%;
        width: auto;
      }
    }
    &__imageRoundHoz {
      position: absolute;
      height: 530px;
      max-width: 670px;
      border-top-right-radius: calc(66.6666 * 670px / 100);
  
      img {
        height: 100%;
        width: fit-content;
      }
    }
  }
}