@use '../../../../theme/theme.scss' as *;
@use "../../../../theme/_global.scss" as *;

.hero {

  &__container {
    width: 100%;
    position: relative;
    margin-bottom: 149px;

    h1 {
      width: 240px;
      margin: auto;
      margin-bottom: 77px;
      @include title-page;
    }
  }

  &__title-color {
    color: $secondary;
    float: right;
    order: 1;
  }

  &__subcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__main-image {
    order: 2;
    width: 334px;
    height: 452px;
    margin: auto -15px auto auto;
    background-color: $azure;
    box-shadow: 10px 10px 60px 0 rgba(154, 154, 154, 0.61);
    // background-image: url('');
    // background-size: cover;
    // background-position: center;
  }

  &__secondImage {
    display: block;
    // background-image: url('');
    // background-size: cover;
    // background-position: center;
    width: 180px;
    height: 243px;
    margin-left: -15px;
    margin-bottom: 60px;
    background-color: red;
    box-shadow: 10px 10px 60px 0 rgba(154, 154, 154, 0.61);
  }

  &__scroll-container {

    position: absolute;
    right: 0px;
    bottom: 52.5%;
    margin-top: auto;
    margin-bottom: 0;

    p {
      transform: rotate(-270deg);
      margin-top: 10px;
    }

    .line {
      height: 86px;
      width: 1px;
      margin: auto;
      background-color: $primary;
    }

  }

  &__dots {
    height: 500px;
    width: 500px;
    background-image: url('../../../../assets/images/seasongroup_bg_dot.png');
    background-size: cover;
    position: absolute;
    right: -240px;
    top: 0px;
    z-index: -1;
  }

  @media (min-width: $desktop) {

    &__container {
      width: 100%;
      position: relative;

      h1 {
        width: 350px;
        margin: 70px 5vw 216px 7vw;
        
      }
    }

    &__title-color {
      color: $secondary;
      float: right;
      order: 2;
    }

    &__subcontainer {
      width: 100%;
      display: flex;
      flex-direction:row-reverse;
      justify-content: center;
    }

    &__main-image {
      order: 1;
      width: calvw(700, $maxlarge) + vw;
      height: calvw(950, $maxlarge) + vw;
      background-color: $azure;
      box-shadow: 10px 10px 60px 0 rgba(154, 154, 154, 0.61);
      margin: 0 ;
    }

    &__secondImage {
      display: block;
      width: calvw(333, 1440) + vw;
      height: calvw(451, 1440) + vw;;
      margin-left: 7vw;
      background-color: $azure;
      box-shadow: 10px 10px 60px 0 rgba(154, 154, 154, 0.61);
    }

    &__scroll-container {

      right: -4.5vw;
      bottom: auto;

      p {
        transform: rotate(-270deg);
        margin-top: 10px;
      }

      .line {
        height: 86px;
        width: 1px;
        margin: auto;
        background-color: $primary;
      }

    }

    &__dots {
      height: 700px;
      width: 700px;
      background-image: url('../../../../assets/images/seasongroup_bg_dot.png');
      background-size: cover;
      position: absolute;
      right: -240px;
      top: 0px;
      z-index: -1;
    }

  }
}
