@use '../../theme/theme.scss'as *;

.buttonCircle {
  &__container {
    height: 55px;
    width: 55px;
    border-radius: 27.5px;
    background-color: $azure;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: flex;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      color: $white;
      svg{
        fill: $white;
        margin: 17px;
      }
    }

    &.light{
      background-color: $azureLight;
    }
    &.darkArrow{
      span svg {
        fill: $azure;
      }
    }
    &.transparent{
      background-color: transparent;
      border: 1px solid $azure;
      svg{
        fill: $azure;
        margin: 17px;
      }
    }
    &.white{
      background-color: $white;
      svg{
        fill: $azure;
        margin: 17px;
      }
    }

  }
  @media (min-width: $desktop) {
    &__container {
      &.fluid {
        width: fit-content;
      }
    }
  }
}