@use "../../../../theme/_global.scss"as *;
@use "../../../../theme/theme.scss"as *;

.experienceHead {
  &__container {
    .slick-dots {
      bottom: 40px;
      li button:before {
        font-size: 12px;
        border-radius: 10px;
        content: "";
        width: 15px;
        height: 15px;
        background-color: rgba($color: #000000, $alpha: 0.5);

      }
      li.slick-active button:before {
        color: $primary;
        background-color: $primary;
        border: 1px solid $white;
        
      }
    }
  }
  &__navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 108px;
    p {
      color: #3B3B3B;
      font-family: Manrope;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      margin: 0;
      margin: 0 10px;
    }
    &--active {
      p {
        color: $primary;
        font-weight: bold;
      }
    }
  }
  &__boxArrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      fill: $primary;
      margin-bottom: 5px;
    }
    
  }

  &__arrow {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    border: 1px solid $primary;
    display: flex;
    justify-content: center;
    align-items: center;      
    cursor: pointer;
  }

  &__titles {
    padding: 32px 0;
    text-align: center;
    &.middle {
      p {
        color: $primary;
        font-weight: bold;

      }

    }
    p {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      color: $text;
    }
  }
  @media (min-width: $desktop) {
    &__container {
      max-width: 1296px;
      margin: 0 auto;
      border-bottom-right-radius: 100px;
      overflow: hidden;
      .slick-dots { 
        display: block;
      }
    }
    &__rightArrow {
      right: 0;
      top: -82px;
      cursor: pointer;
    }
    &__leftArrow {
      top: -82px;
      left: 0;
      cursor: pointer;
    }
  }

}