@use "../../../../theme/_global.scss" as *;
@use "../../../../theme/theme.scss" as *;

.downloads {
  &__container {
    padding: 72px 24px;
    .page-subtitle {
      @include subtitle-page;
      margin-bottom: 24px;

    }
  }
  &__item {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 16px;
    svg {
      margin-right: 16px;
      color: $primary;
    }
  }
  
  @media (min-width: $desktop) {
    &__container {
      padding: 160px 24px;
      .page-subtitle {
        @include subtitle-page;
        margin-bottom: 46px;
  
      }
    }
    &__item {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 27px;
      svg {
        margin-right: 16px;
        fill: $primary;
      }
    }
  }
}