@use '../../theme/theme.scss'as *;

.menu {
  &__container {
    position: relative;
    padding-bottom: 10px;

  }

  &__item {
    > div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      border-radius: 6px;
      text-align: center;
      span {
        font-size: 16px;
        font-weight: bold;
        color: $text;
      }
      &:hover {
        background-color: rgba(28, 117, 188, 0.1);
        span {
          color: $primary;
        }
      }
    }
  }

}