@use "../../../../theme/_global.scss" as *;
@use "../../../../theme/theme.scss" as *;

.summary {
  &__container {
    padding: 40px 24px;
    .page-subtitle {
      @include subtitle-page;

    }
  }
  &__list {
    margin-top: 20px;
    img {
      height: 32px;
      width: 32px;
      margin-right: 16px;
      margin-bottom: 0px;
    }
  }
  &__content {

  }
  @media (min-width: $desktop) {
    &__container {
      padding: 80px 0 160px;
    }
    &__content {
      max-width: $maxTextWidth;
    }
  }
}