@use "../../theme/_global.scss" as *;
@use "../../theme/theme.scss" as *;

.blogList {
  &__container {
    padding-top: $gapTitlePage;
  }
  &__head {
    .page-title {
      @include title-page;
      margin-bottom: 23px;
      
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  @media (min-width: $desktop) {

    &__head {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;
      .page-title {
        margin-bottom: 0;
      }
      
    }
  }
}