@use "../../theme/theme.scss" as *;
@use "../../theme/_global.scss" as *;

.headerListing {
  &__container {
    padding: $paddingMobile;
    display: flex;
    flex-direction: column;
    
  }
  &__title {
    max-width: 560px;
    h1 {
      margin-bottom: 60px;
    }
  }
  &__filters {
    display: flex;
    flex-direction: column;
    &__box {
      margin-bottom: 16px;
    }
  }
  @media (min-width: $desktop) {
    &__container {
      padding: $paddingDesktop;
      padding-top: $gapTitlePage;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__filters {
      display: flex;
      flex-direction: row;
      &__box {
        margin-left: 16px;
        margin-bottom: 0;
      }
    }
  }
}