@use '../../theme/theme.scss'as *;

.buttonSlider {
  &__container {
    position: relative;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid $primary;

    svg {
      fill: $primary;
      position: absolute;
      left: 50%;
      top: 46%;
      transform: translate(-50%, -50%);
    }
  }
}