@use "../../../theme/_global.scss" as *;
@use "../../../theme/theme.scss" as *;

.blockHead {
  &__container {
    min-height: 680px;
    flex-direction: column-reverse;
    &.down {
      flex-direction: column;
    }
  }
  &__title {
    @include title-page;
    padding-bottom: 22px;
    &__h2 {
      @include title-page;
      font-size: 45px;
      line-height: 57px;
      padding-bottom: 22px;
    }
  }
  
  &__content {
    padding: 40px 37px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }
  &__image {
    position: relative;
    min-height: 230px;
    .verticalBottomRightRound__imageRound {
      position: relative;
      left: 0;
      height: 256px;
      width: 325px;
    }
    .verticalBottomRightRound__imageRoundHoz {
      
      position: absolute;
      top: 80px;
      right: 0;
      height: 205px;
      width: 260px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 180px;
      img {
        height: 100%;
        width: auto;

      }
    }
  }
  @media (min-width: $desktop) { 
    &__container {
      min-height: 680px;
      flex-direction: row;
    }
    &__image {
      position: relative;
      .verticalBottomRightRound__imageRound {
        position: absolute;
        left: 116px;
      }
    }
    &__content {
      padding-top: 116px;
    }
    &__title {

      padding-bottom: 22px;
      &__h2 {
        font-size: 45px;
        padding-bottom: 22px;

        line-height: 57px;
      }
    }
  }
}


.ctaAboutUs {
  &__container {
    width: 100%;
    position: relative;
    height: 463px;
    background-image: url('../../../assets/images/about-us/pacificcross_aboutgroup_mission-02.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }
  &__content {
    max-width: 1120px;
    span {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 20px;
      text-align: center;
      color:$white;
      margin-bottom: 24px;
      text-transform: uppercase;
    }
    p {
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 40px;
      text-align: center;
      color:$white;
    }
  }
  @media (min-width: $desktop) {
    &__container {
      min-height: 800px;
    }
    &__content {


      p {
        font-size: 45px;
        line-height: 57px;
      }
    }
  }
}

.blockMiddle {
  &__container {
    margin-top: 195px;
  }
  &__content {
    margin-bottom: 160px;
    .verticalBottomRightRound__block__image {

    }
    min-height: 600px;
    .col-12 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    h2 {
      @include subtitle-page ;
      font-size: 45px;
    }
    .tag {
      @include tag-section;
      margin-bottom: 24px;
    }
  }
  &__block__image {
    width: 100%;
    .cardCountry__container {
      padding: 34px 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 340px;
      border-bottom-right-radius: 50px;
      box-shadow: 0 2px 40px 0 $primaryLight;
      span {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        color: $white;
      }

    }
  }
  @media (min-width: $desktop) {
    &__content {
      min-height: 600px;
      .col-12 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
    &__block__image {
      .cardCountry__container {
        height: 340px;
        border-bottom-right-radius: 50px;
        span {
          font-size: 28px;
          line-height: 38px;
        }
      }
    }
  }
}

.aboutUsOurValues {
  &__container {
    margin-top: 30px;
    margin-bottom: 200px;
  }

  &__head {
    .page-title {
      @include title-page;
      margin-bottom: 48px;
    }
    .tag {
      @include tag-section;
      display: inline-block;
      margin-bottom: 12px;
    }
  }
  @media (min-width: $desktop) {
    &__head {
      .page-title {
        margin-bottom: 80px;
      }
      .tag {
        margin-bottom: 24px;
      }
    }

  }
}
.aboutUsOurMilestones {
  &__container {
    margin-top: 30px;
    margin-bottom: 200px;
    .accordion__templates__child__section__title {
      color: $primary;
      font-weight: normal; 
      font-size: 40px;
      letter-spacing: 0;
      line-height: 40px;

    }
    .accordion__templates__child__container {
      background-color: $white;
      border-top: 1px solid $primaryLight;
      &:last-child {
        border-bottom: 1px solid $primaryLight;
      }
    }
    .accordion__templates__child__arrow {
      svg {
        fill: $primary;
      }
    }
    .accordion__templates__child__content {
      padding: 0 25px;
    }

  }
  
  &__head {
    max-width: 900px;
    .page-title {
      @include title-page;
      margin-bottom: 80px;
    }
    .tag {
      @include tag-section;
      display: inline-block;
      margin-bottom: 24px;
    }
  }
}
.yearRow {

  &__container {
    width: 100%;
    max-width: 900px;
    border-top: 1px solid $primaryLight;
    padding: 36px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:last-child {
      border-bottom: 1px solid $primaryLight;
    }
  }
  &__year {
    color: $primary;
    font-size: 60px;
    letter-spacing: 0;
    line-height: 60px;
    margin-right: 196px;
  }
}