@use '../../theme/theme.scss'as *;

.cta {
  &__container {
    width: 100%;
    position: relative;
    height: 426px;
    background-image: url('../../assets/images/pacificcross_image_cta.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:before { 
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background-color: rgba($color: $primary, $alpha: 0.8);
    }
  }

  &__box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      margin-bottom: 40px;
      color: $white;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 44px;
      text-align: center;

    }
  }

  @media (min-width: $tablet) {
    &__container {
      height: 426px;
      border-radius: 6px;


    }
    &__box {
      
      h2 {
        margin-bottom: 44px;
        font-size: 45px;
        line-height: 57px;
      }
    }
  }
}