@use "../../theme/_global.scss" as *;
@use "../../theme/theme.scss" as *;

.products {
  &__container {
    padding-top: 35px;
  }
  &__header {
    padding: 0 12px 56px;
    .page-title {
      @include title-page;
      margin-bottom: 23px;
    }
    p {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 27px;
      color: $text;
    }
  }

  &__filter {
    max-width: 400px;
    padding: 0 12px;

  }

  &__cta {
    margin: 160px -12px 120px;
  }

  @media (min-width: $desktop) {
    &__header {
      padding: 0;
      padding-bottom: 72px;
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
    &__filter {
      padding: 0;
  
    }
    &__cta {
      margin: 200px 0;
      padding: 0;
    }
  }
}