@use "../../theme/_global.scss" as *;
@use "../../theme/theme.scss" as *;

.carouselCard {
  &__container {
    padding: 120px 0 160px;

  }

  &__box {
    position: relative;
    padding-bottom: 0;
    .slick-dots {
      bottom: 0px;
      li button:before {
        font-size: 12px;
      }
      li.slick-active button:before {
        color: $primary;
        
      }
    }
    .slick-track {
      padding: 40px 0;
      display:flex;
      align-items:stretch;
    }

  }
  &__title {
    // height: 50px;

    padding: 0 12px;
    span {
      color: $primary;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  &__arrow {
    width: 48px;
    height: 48px;
    border: 1px solid $primary;
    border-radius: 24px;
    position: absolute;
    top: -50px;
    svg {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $primary;
    }
  }
  &__leftArrow {
    right: 70px;
  }
  &__rightArrow {
    right: 0;
  }
  &__quote {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    svg {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $primary;
    }
  }
  &__card {
    padding:82px 120px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image {
      width: 56px;
      height: 56px;
      border-radius: 30px;
      overflow: hidden;
      margin-bottom: 16px;
      img {
        width: 100%;
      }
    }
    &__content {
      text-align: center;
      p {
        color: #3B3B3B;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;
      }
      span {
        color: $primary;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 23.6px;
        text-align: center;
      }
    }
   
  }
  &__count {
    padding: 0 12px;
    color: #C3C3C3;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 20px;
  }
  @media (min-width: $desktop) {
    &__box {
      padding-bottom: 50px;
    }
    &__title {
      height: 50px;
      padding: 0;
    }
    &__box {
      .slick-track {
        padding: 50px 0;
      }
    }
  }
  
}