@use "../../theme/_global.scss" as *;
@use "../../theme/theme.scss" as *;

.pageMenuTemplate {
  &__head {
    padding: 36px 0 56px;
    .page-title {
      @include title-page;
      
    }
  }
  &__content {
    padding-left: 130px;

  }
  &__title {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 57px;
    color:$text;
    margin-bottom: 50px;
  }
}