@use "../../theme/global.scss" as *;
@use "../../theme/theme.scss" as *;

.pages {
  &__container {
    padding: 100px 0 200px 0;
    margin: 0;
    margin-left: $containerSidePadding;

    .page-title {
      @include title-pages;
      padding-bottom: $gapTitlePage - 69px;
    }

    h4{
      margin-bottom: 16px;
      padding-top: 69px;
    }
  }

  @media (min-width: $desktop) {
    &__container {
      width: $maxTextWidth;
    }
  }
}
