// Put the colors for your project
$primary: #1B1E60;
$secondary: #3BC6F4;
$text: #131C34;
$textLight: #484554; // used for smaller (bold) pieces of text
$azure: #018AFF; // blue used for button & highlight links
$azureLight: rgba(1,138,255,0.3); // button blue on hover
$white: #ffffff;
$black: #000000;
 
// break-points
$mobile: 480px;
$tablet: 764px;
$desktop: 1024px;
$large: 1440px;

//var
$gapTitlePage: 120px; // from bottom nav (220px from top)
$maxTextWidth: 896px;
$containerSidePadding: 120px; 

