// Put the colors for your project
$primary: #1B1E60;
$secondary: #3BC6F4;
$text: #131C34;
$textBold: #484554;
$textLight: #9E9E9E;
$white: #ffffff;
$black: #000000;

// break-points
$mobile: 480px;
$tablet: 764px;
$desktop: 1024px;
$large: 1440px;

//var
$gapTitlePage: 35px;
$maxTextWidth: 844px;
