$primary: #1c75bc;
$secondary: #ff9124;
$primaryLight: #cadfef;
$text: #3b3b3b;
$white: #ffffff;
$black: #000000;
$westar: #f9f9f9;
$whiteSmoke: #d8d8d8;
$auxText: #575757;
$numberText: #C3C3C3;

// break-points
$mobile: 480px;
$tablet: 764px;
$desktop: 1024px;
$large: 1440px;

//var
$gapTitlePage: 35px;

$maxTextWidth: 844px;