@use "../../theme/_global.scss" as *;
@use "../../theme/theme.scss" as *;
.menuPageTemplate {
  &__container {
    margin: 0;
    padding: 0;
    li {
      height: 62px;
      padding-left: 28px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      &.selected, &:hover {
        border-radius: 6px;
        background-color: rgba($color: $primary, $alpha: 0.1);
        span {
          color: $primary;
        }
      }
      span {
        color: $text;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
      }
    }
  }
}
