@use '../../theme/theme.scss' as *;

.header {
  &__container {
    display: grid;
    place-items: center;
    height: 120px;
    padding: 0 3.9vw;
  }

  &__sub-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    svg {
      width: 9.7vw;
    }
  }

  &__menu, &__sub-menu {
    ul {
      display: flex;
      align-items: center;
    }
  }
  &__menu{
    li {
      margin-right: 4.2vw;

      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &__sub-menu {
    svg{
        height: 19px;
        margin: 0 2.5vw 0 1.8vw;
        fill: $primary;
     &:hover {
      fill: $azure;
      cursor: pointer;
    }
  } 
}

&__select{
  select{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: $primary;
    &:hover{
      color: $azure;
      cursor: pointer;
    }
  } 
}  
}