@use '../../theme/theme.scss' as *;

.footer {
  &__toggleClose{
    display: none;
  }
  
  &__toggleOpen{
    display: block;
  }

  &__container {
    padding: 60px 18px 0px 18px;

    p {
      margin: 23px 0 17px 0;
      max-width: 500px;
    }
  }

  &__menu-container {
    div {
      margin-bottom: 41px;
      width: 100%;
    }

    a {
      font-size: 18px;
      font-family: inherit;
    }
  }

  &__email {
    a {
      font-size: 14px;
    }
  }

  svg {
    height: 47px;
    padding: 1px;
  }

  &__socialIconsContainer {
    display: flex;
    margin: 18px 0 54px 0;

    svg {
      fill: $white;
    }

    .icons-youtube {
      height: 12px;
      width: 17px;
    }

    .icons-facebook {
      height: 18px;
      width: 7.71px;
    }

    .icons-linkedin {
      height: 14px;
      width: 15px;
    }

    .icon-circle {
      width: 41px;
      height: 41px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: $azure;
      &:first-child{
        margin-right: 15px;
      }
    }
  }

  &__listItems{
    a{
      font-size: 14px;
      color: $textLight;
      font-weight: normal;
      display: block;
      font-family: inherit;
    }
  }

  &__copyRight {
    text-align: center;
    padding: 18px 51px 27px 51px;
    border: 1px solid #D3D3D3;

    p,
    a {
      font-size: 14px;
      color: $textLight;
      font-weight: 200;
    }
  }

  @media (min-width: $desktop) {
    &__container {
      display: flex;
      padding: 67px 120px 0px 120px;
      p {
        max-width: 288px;
      }

      a {
        &:last-child {
          margin-left: 0px;
        }
      }
    }

    &__listItems{
      margin-top: 11px;
      a{
        margin: 0;
        line-height: 30px;
      }

      }

    &__menu {
      margin-left: 108px;
      display: flex;
      div{
        min-width: 9.7vw;
        width: fit-content;
        margin-right: 3.1vw;
        &:last-child{
          margin-right: 0px;
        }
      }
    }

    &__copyRight {
      display: flex;
      justify-content: space-between;
      padding: 6px 120px;
    }
  }
}