@use '../../../../theme/theme.scss' as *;
@use "../../../../theme/_global.scss" as *;

.whatWeOffer {
  &__container{
    margin-top: 101px;
    margin-bottom: 160px;
    .largeTitle{
      margin-top: 32px;
      margin-bottom: 77px;
    }
  }

  @media (min-width: $desktop) {
    &__container{
      margin-top: 140px;
      margin-bottom: 200px;
      .largeTitle{
        margin-bottom: 130px;
      }
    }
  }
}