@use '../../theme/theme.scss'as *;

.accordion {
  padding: 0 25px;
  width: 100%;
  box-sizing: border-box;

  &__container {
    min-height: 50px;
    width: 100%;
    position: relative;
    display: block;

  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30px;
    background-color: $white;
    z-index: 2000;

    &__title {
      color: $primary;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  &__content {
    height: 0;
    width: 100%;
    padding: 0 0 25px 0;
    background-color: transparent;
    color: black;
    font-size: 14px;
    text-align: center;
    position: relative;
    text-align: left;
    transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &__active {
      margin-top: 0px;
      height: auto;
      transition: all 350ms cubic-bezier(0.08, 1.09, 0.32, 1.275);
    }

    &__text {
      color: $text;
      font-family: Manrope;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 23.6px;

      &__active {
        visibility: visible;
        opacity: 1;
      }
    }

    &__subtitle {
      visibility: hidden;
      opacity: 0;
      overflow: auto;
      margin-top: 8px;
      &__active {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    svg {
      transform: rotate(0deg)
    }

    &__active {
      svg {
        transform: rotate(180deg)
      }
    }
  }

}
